<div id="topbar">
	<div id="title">Music</div>
</div>
<div id="content">

	<ul class="autolist">
		<%@musics.each do |song|%>
	
		<li><%=link_to "#{song.name}", :action => :show, :id => song.object%></li>
	
		<%end%>
	</ul>

</div>