<div class="toolbar">
	<h1 id="pageTitle">
		New Music
	</h1>
</div>

<form title="New Music" 
	  class="panel"
	  id="music_new_form" 
	  method="POST" 
	  action="<%=url_for(:action => :create)%>" selected="true">
	<fieldset>
		<input type="hidden" name="id" value="<%=@music.object%>"/>
		
		  <div class="row">
			  <label>Name: </label>
			  <input type="text" name="music[name]"/>
		  </div>
		
		  <div class="row">
			  <label>Url: </label>
			  <input type="text" name="music[url]"/>
		  </div>
		
		  <div class="row">
			  <label>Description: </label>
			  <input type="text" name="music[description]"/>
		  </div>
		
	</fieldset>
	<input type="submit" value="Create"/>
</form>