<div id="topbar">
	<div id="title">Videos</div>
</div>
<div id="content">

	<ul class="autolist">
		<%@videos.each do |video|%>
	
		<li><%= link_to "#{video.name}", :action => :show, :id => video.object %></li>
	
		<%end%>
	</ul>

</div>